.article_spec_page_main_div{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 8px;
}
.article_spec_page_card_item{
    list-style: none;
}
.article_spec_main_div{
    background-color: #fff;
    margin: 8px 4px 4px 8px;
}
.article_spec_main_div h1{
    font-size: 26px;
    font-weight: bold;
    color: #000;
    line-height: 1;
    padding-top: 12px;
    font-family: auto;
}
.article_spec_main_div h4{
    font-size: 18px;
    font-weight: lighter;
    line-height: 2;
    color: #3498db;
    inline-size: auto;
    text-decoration-line: underline;
    cursor: pointer;
}
.article_spec_main_div h5{
    font-size: 18px;
    font-weight: lighter;
    line-height: 1.5;
    color: #000;
}
.article_spec_content1 p{
    font-size: 14px;
    font-weight: lighter;
    color: #000;
    line-height: 1.6;
}
.contentHeading2_div h3{
    font-size: 26px;
    font-weight: bold;
    color: #000;
    line-height: 1;
    padding-top: 12px;
    font-family: auto;
}
.contentHeading2_div p{
    font-size: 14px;
    font-weight: lighter;
    color: #000;
    line-height: 1.6;
}
.contentHeading3_div h3{
    font-size: 26px;
    font-weight: bold;
    color: #000;
    line-height: 1;
    padding-top: 12px;
    font-family: auto;
}
.contentHeading3_div p{
    font-size: 14px;
    font-weight: lighter;
    color: #000;
    line-height: 1.6;
}
.contentHeading4_div h3{
    font-size: 26px;
    font-weight: bold;
    color: #000;
    line-height: 1.5;
    padding-top: 12px;
    font-family: auto;
}
.contentHeading4_div p{
    font-size: 14px;
    font-weight: lighter;
    color: #000;
    line-height: 1.6;
}
.contentHeading5_div h3{
    font-size: 26px;
    font-weight: bold;
    color: #000;
    line-height: 1.5;
    padding-top: 12px;
    font-family: auto;
}
.contentHeading5_div p{
    font-size: 14px;
    font-weight: lighter;
    color: #000;
    line-height: 1.6;
}
.contentHeading6_div h3{
    font-size: 26px;
    font-weight: bold;
    font-family: auto;
    color: #000;
    line-height: 1.6;
    padding-top: 12px;
}
.contentHeading6_div p{
    font-size: 14px;
    font-weight: lighter;
    color: #000;
    line-height: 1.6;
}
.contentHeading7_div h3{
    font-size: 26px;
    font-weight: bold;
    font-family: auto;
    color: #000;
    line-height: 1.6;
    padding-top: 12px;
}
.contentHeading7_div p{
    font-size: 14px;
    font-weight: lighter;
    color: #000;
    line-height: 1.6;
}
.contentHeading8_div h3{
    font-size: 26px;
    font-weight: bold;
    font-family: auto;
    color: #000;
    padding-top: 12px;
    line-height: 1.6;
}
.contentHeading8_div p{
    font-size: 14px;
    font-weight: lighter;
    color: #000;
    line-height: 1.6;
}
.contentHeading9_div h3{
    font-size: 26px;
    font-weight: bold;
    font-family: auto;
    color: #000;
    padding-top: 12px;
    line-height: 1.6;
}
.contentHeading9_div p{
    font-size: 14px;
    font-weight: lighter;
    color: #000;
    line-height: 1.6;
}
.contentHeading10_div h3{
    font-size: 26px;
    font-weight: bold;
    font-family: auto;
    color: #000;
    line-height: 1.6;
    padding-top: 12px;
}
.contentHeading10_div p{
    font-size: 14px;
    font-weight: lighter;
    color: #000;
    line-height: 1.6;
}
.contentHeading11_div h3{
    font-size: 26px;
    font-weight: bold;
    font-family: auto;
    padding-top: 12px;
    line-height: 1.6;
    color: #000;
}
.contentHeading11_div p{
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.6;
    color: #000;
}
.contentHeading12_div h3{
    font-size: 26px;
    font-weight: bold;
    font-family: auto;
    line-height: 1.6;
    color: #000;
    padding-top: 12px;
}
.contentHeading12_div h5{
    font-size: 16px;
    color: #3498db;
    line-height: 1.6;
}
.contentHeading12_div p{
    font-size: 14px;
    font-weight: lighter;
    color: #000;
    line-height: 1.6;
}
.contentHeading13_div h3{
    font-size: 26px;
    font-weight: bold;
    font-family: auto;
    color: #000;
    line-height: 1.6;
    padding-top: 12px;
}
.contentHeading13_div h5{
    font-size: 16px;
    color: #3498db;
    line-height: 1.6;
}
.contentHeading13_div p{
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.6;
}
/* ------ right side bar ---------  */

.dash_spec_page_right_side_card_item{
    list-style: none;
}
.dash_spec_page_right_side_card_item li{
    background-color: #fff;
    font-size: 14px;
    font-weight: lighter;
    color: #000;
    cursor: pointer;
}
.dash_spec_page_right_side_card_item li :hover{
    cursor: pointer;
    color: coral;
    background: #e2e2e2;
}